@keyframes colorChange {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: yellow;
  }
}

.fab-animated {
  animation: colorChange 3s infinite; /* 2s duration, infinite loop */
}

.fab-button {
  background-image: url('../../../public/images/arrowup.png') !important;
  background-repeat: no-repeat ;
  background-position: center;
  background-size: 20%;
}
